.truck-detail {
    background: #59a6f9;
    color: white;
    img {
        height: 4em;
    }
    .divider {
        width: 100%;
        height: 0.1em;
        background: white;
        margin-top: 2%;
    }
    .truck-description {
        position: relative;
        p {
            font-size: 0.9em;
            margin: 0;
            .truck-timing {
                bottom: 0;
                position: absolute;
            }
            i {
                font-size: 0.9em;
            }
        }
        .location {
            font-size: 0.8em
        }
    }
    .food-details {
        font-size: 0.9em;
        display: inline-block;
        margin-top: 7%;
        text-decoration: underline;
        cursor: pointer;
    }
    @media (max-width: 980px) {
        .food-details {
            margin-top: 4%;
        }
    }

}